@model IEnumerable<GRB.Models.RtiTbl>
@using GRB.Models;

@{
    ViewBag.Title = "RtiView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = (RtiTbl)ViewBag.info;
}

<h2>RTI(Right To Information)</h2>

@using (Html.BeginForm())
{
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div style="white-space: pre-wrap;">@info.RTI</div>
        </div>
    </div>
</div>
}