@model IEnumerable<GoaRehabWeb.Models.ProfileTbl>

@{
    ViewBag.Title = "Profiles";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>CM</h2>
        </div>
        <div class="col-md-4">
            <h2>Chairman</h2>
        </div>
        <div class="col-md-4">
            <h2>Director</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Uploads/Pictures/Profiles/CM.jpg" width="250px" height="250px" alt="Goa CM" />
        </div>
        <div class="col-md-4">
            <img src="~/Uploads/Pictures/Profiles/Chairman.jpg" width="250px" height="250px" alt="Chairman" />
        </div>
        <div class="col-md-4">
            <img alt="Director" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
                Chief Minister of Goa
            </p>
        </div>
        <div class="col-md-4">
            <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
                Chairman of Goa Rehabilitation Board
            </p>
        </div>
        <div class="col-md-4">
            <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
                Director of Goa Rehabilitation Board
            </p>
        </div>
    </div>
</div>