
@*<div class="blink" style="background-color:darkblue; width:auto" text-align:center;">
            <marquee direction="right" scrollamount="3" loop="INFINITE" vspace="0" behavior="scroll" scrolldelay="10">
                <label style="color:greenyellow;">Housing Board - Sale of Tenements &amp; Plots</label><a href="/wp-content/uploads/2017/09/GoaHousing-Board-SaleofTenementsPlots.pdf" style="color:greenyellow; text-decoration:underline;" target="_blank"> Click Here</a>&nbsp;&nbsp;&nbsp;&nbsp;

                <label style="color:greenyellow;">Knowledge Exchange, Goa 2017</label><a href="http://ke.eletsonline.com/2017/goa/" style="color:greenyellow; text-decoration:underline;" target="_blank"> Click Here</a>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label style="color:greenyellow;">Goa-IT- Start-up Policy -2017</label><a href="https://www.goa.gov.in/wp-content/uploads/2017/09/GoaStart-up-Policy2017-dated-19-9-2017.pdf" style="color:greenyellow; text-decoration:underline;" target="_blank"> Click Here</a>&nbsp;&nbsp;&nbsp;&nbsp;

                <label style="color:greenyellow;">FIFA World Cup U-17 2017 Match Schedule</label><a href="https://www.goa.gov.in/wp-content/uploads/2017/07/Match-Schedule.pdf" style="color:greenyellow; text-decoration:underline;" target="_blank"> Click Here</a>&nbsp;&nbsp;&nbsp;&nbsp;
</marquee>
</div>*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Uploads/Pictures/Carousel/Carousel1.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goa Beach View</h3>
                <p>The best place to visit in Goa</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel2.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goa Lake View</h3>
                <p>The Best Scene</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel3.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan Fields</h3>
                <p>We love Green Goa</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel4.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan Church</h3>
                <p>Worth Visiting</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel5.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goa Beach View</h3>
                <p>The Best Scene</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel6.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan Church</h3>
                <p>We love Goa</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/carousel7.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan Coconut Trees</h3>
                <p>Green Goa</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
        
<div class="container">
    <div class="col-md-4">
        <h2 style="position:center; top:auto; margin-left:150px;">Mission</h2>
        <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec porta augue, vitae vulputate dui. In orci odio, mollis sed rhoncus eget, elementum non turpis. Mauris feugiat risus felis, ac ultrices risus ornare quis. Mauris et leo ac libero venenatis suscipit. Maecenas dapibus neque posuere, vulputate libero ultricies, ultrices elit. Morbi a dapibus nisl. Aliquam in pellentesque sem, id scelerisque ante. Fusce viverra massa ac purus rutrum efficitur. In hac habitasse platea dictumst. Praesent et elit ex. Cras nec consequat sem. Aliquam posuere pretium arcu.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="position:center; top:auto; margin-left:150px;">Latest News</h2>

    </div>
    <div class="col-md-4">
        <h2 style="position:center; top:auto; margin-left:150px;">Vision</h2>
        <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
            Cras eu magna sit amet metus fringilla aliquet. Nullam egestas metus ut turpis aliquet auctor. Vivamus eu nunc enim. Praesent eu imperdiet ipsum. Ut aliquet, nunc venenatis sollicitudin facilisis, enim ipsum commodo mi, vitae tempor odio urna eget erat. Etiam lobortis accumsan interdum. Phasellus a urna id nulla vehicula dignissim sit amet sit amet neque. Donec eget diam viverra, blandit orci at, volutpat ligula.
        </p>
    </div>
</div>

@*<div class="gtco-loader"></div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@